.navBarInfo {
    background: var(--nav-info-gradient1);
    background: linear-gradient(90deg, var(--nav-info-gradient1) 0%,var(--nav-info-gradient2)  83%,var(--nav-info-gradient3)  100%);
}
.navBarInfo .greeting{
    margin:0;
    color:white;
    font-weight: bolder;
}
.navBarInfo .lastConnection{
    color: rgb(73, 73, 73);
    font-weight: lighter;
}
.navBarInfo .image{
    opacity:0.2;
}