.documentsList {
    .document {
        .title {
            margin-top: 0;
            font-size: 20px;
            font-weight: 700;
        }
        .tags {
            font-size: 14px;
            font-weight: 200;
        }
    }
}