.newTicket .FundCard{
    text-align: start;
}
.newTicket .FundCard .title{
    text-align: start;
    font-size: 22px;
    font-weight: 600;
}
.newTicket .FundCard .feePartsInfo{
    text-align: start;
}
.newTicket .FundCard .card-body > .card-title{
    font-weight: 400;
}

.newTicket .FundCard:hover {
    box-shadow: 0px 0px 5px var(--ticket-main-color);
}

.newTicket .FundSelected {
    box-shadow: 0px 0px 5px var(--ticket-main-color);
}