.ErrorBoundary {
    .title{
        text-align: center;
        font-size: 30px;
    }
    .subtitle{
        text-align: center;
        font-size: 15px;
    }
    .description{
        font-size: 30px;
        text-align: center;
    }
    .icon{
        font-size: 6rem 
    }
}
 