.APL.fundInfo .title{
    text-transform: uppercase;
    color: black;
    font-weight: 600;
    font-size: 23px;
}

.APL.fundInfo .left {
    font-size: 17px;
    font-weight: 300;
    color: black;
}