.HistoryCardsContainer {
	overflow-x: clip;
}
.HistoryCardsContainer .CategoryLabel {
	font-size: 30px;
	margin-top: 0.5rem;
	padding-right: 1rem;
	padding-left: 1rem;
	margin-bottom: 1rem;
	min-height: calc(27.59px + 34.84px);
	border-bottom: 1px solid;
	display: flex;
	align-items: center;
}
.HistoryCardsContainer .CategoryLabel .title {
	font-size: 23px;
	margin-top: 0;
}
.mainCardCol {
	transition: width .5s;
}
.collapser {
	position: absolute;
	top: calc( (100vh - 206px) / 2);
	right: 0px;
	transform: translateY(-50%);
	font-size: 30px;
	cursor: pointer;
	transition: ease all .5s;
}
.collapser .chevron{
	font-size: 30px;
    height: 1em;
    display: block;
}
.collapser:hover {
	animation: 1s bounce ease 2;
}
.collapser.expanded {
	transform: translateY(-50%) rotate(180deg);
	right: 0px;
}
.collapser.expanded:hover {
	animation: 1s bounceExpanded ease 2;
}

.movementsCardMobile:first-of-type {
	margin-top: 10%;
}
.movementsCardMobile .buttonFilter{
	font-size: 12px;
} 
.movementsCardMobile {
	border: none;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 10%;
	border-radius: 30px;
	font-weight: 300;

	max-height: 80%;
    overflow: hidden;
}
.movementsCardMobile .card-header {
	border-radius: 30px 30px 0 0;
	background-color: var(--blue-main);
	color: white;
	border: 1px solid var(--blue-main);
}
.movementsCardMobile .card-header img{
	height: 1em;
	display: inline-block;
	margin-right: .25em;
	vertical-align: -.2em;
	float: right;
}
.movementsCardMobile .card-body {
	border: 1px solid var(--blue-main);
	border-radius: 0 0 30px 30px;

    overflow: auto;
}

.movementsMainCardAccount,
.movementsMainCardFund {
	height: 100%;
	display: flex;
	flex-direction: column;
}
.movementsMainCardAccount .historyContent,
.movementsMainCardFund .historyContent {
	flex-grow: 1;
	margin-bottom: .5rem;
}

@keyframes bounce {
	0%,
	100% {
		right: 0px;
	}
	50% {
		right: -5px;
	}
}

@keyframes bounceExpanded {
	0%,
	100% {
		right: 0px;
	}
	50% {
		right: 5px;
	}
}


@media (max-width: 576px) {
	.movementsCardMobile:first-of-type {
		margin-top: 1rem;
	}
	.movementsCardMobile {
		margin-bottom: 1rem;
	}
}
