.navBarDesktop {
    background-color: var(--main-bg-nav-color);
}
.scrollable {
    white-space: nowrap;
}
.navBarDesktop .nav-link {
    padding: 0.5em;
}

.navBarDesktop .nav-link {
    border-bottom: 5px solid;
    border-color: transparent;
}

.navBarDesktop .nav-link:hover {
    border-color: lightgrey!important;
}

.navBarDesktop .nav-link.active {
    border-bottom: 5px solid;
    border-color: var(--selected-underline-section-color);
}

.navBarDesktop .nav-link.active:hover {
    border-color: var(--selected-underline-section-color)!important;
}

.navBarDesktop .bottomInnerBorder {
    box-shadow: inset 0px -13px 0px -8px var(--default-underline-section-color);
}

.navBarDesktop .transactionDropdown>.dropdown-toggle {
    padding-right: .5rem!important;
    padding-left: .5rem!important;
}

@media (min-width: 992px) {
    .navBarDesktop .transactionDropdown>.dropdown-toggle {
        padding-right: 1.5rem!important;
        padding-left: 1.5rem!important;
    }
}

@media (max-width: 575px) {
    .scrollable {
        max-width: 100%;
        overflow-x: auto;
        white-space: nowrap;
        flex-direction: row;
    }
    
}