.accountCard {
    border: black 1px solid;
    border-radius: 30px;
    background-color: grey;
}
.accountCard .card-header{
    background-color: white;
    color: black;
    border-radius: 30px 30px 0px 0px;
}
.accountCard .body {
    border-left: 1px transparent;
    border-right: 1px transparent
}

.accountCard .body .title {
    color: black;
    text-align: start;
    font-size: 20px;
}
.accountCard .body .subTitle {
    color: black;
    text-align: start;
    font-size: 17px;
}


.accountCard .body .balanceAmount {
    padding: 0;
    text-align: end;
    font-size: 20px;
    color: yellowgreen
}

.bolder {
    font-weight: bolder
}

.normal {
    font-weight: normal
}

.lighter {
    font-weight: lighter
}

.accountCard .footer {
    background-color: grey;
    border: 1px transparent;
    border-radius: 0px 0px 30px 30px;
}

.accountCard .footer .button {
    font-size: 30px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid;
    border-color: var(--main-color);
    color: var(--main-color);
    margin-bottom: -2rem
}

.modal .modal-content {
    background-color: transparent;
    border: transparent
}

.modal .header,
.modal .body,
.modal .footer {
    background-color: var(--main-color);
    border-color: white;
}

.modal .header {
    border-radius: 30px 30px 0 0;
    border-color: white;
}

.modal .header .title {
    color: white
}

.modal .body .help {
    color: white
}

.modal .footer {
    border-radius: 0 0 30px 30px;
    border-color: white;
}