.AssetsAdministration .searchBar {
	border-radius: 30px;
	box-shadow: 0 0 0 0 rgb(255 255 25 / 0%);
	transition: all 0.2s;
}
.AssetsAdministration .searchBar .input-group-text {
	border-radius: 30px 0 0 30px;
	background: rgba(255, 255, 255, 0.7);
	border-right: none;
}
.AssetsAdministration .searchBar .input-group-text .icon {
	color: #8c8a8d;
	transition: all 0.2s;
}

.AssetsAdministration .searchBar .input-group-text.left {
	border-radius: 30px 0 0 30px;
	border-right: none;
	margin-right: 0px !important;
}
.AssetsAdministration .searchBar .input-group-text.left .icon {
	margin-left: 0.7em;
}
.AssetsAdministration .searchBar .input-group-text.right {
	border-radius: 0 30px 30px 0;
	border-left: none;
	margin-left: 0px !important;
	cursor: pointer;
	transition: all 2s;
}
.AssetsAdministration .searchBar .input-group-text.right:hover .icon {
	color: rgb(250 70 0 / 50%);
}
.AssetsAdministration .searchBar .input-group-text.right .icon {
	margin-right: 0.7em;
}

.AssetsAdministration .searchBar .form-control {
	border-radius: 0 30px 30px 0;
	padding: 0.7em;
	border-right: none;
	border-left: none;
	background: rgba(255, 255, 255, 0.7);
}
.AssetsAdministration .notfound.searchBar {
	box-shadow: 0 0 0 0.25rem rgb(200 70 0 / 25%) !important;
}
.AssetsAdministration .searchBar.search {
	box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}
.AssetsAdministration .searchBar.search .form-control {
	border-right: none;
}
.AssetsAdministration .searchBar .form-control:focus {
	color: #212529;
	background: rgba(255, 255, 255, 0.7);
	border-color: rgb(206, 212, 218);
	outline: unset;
	box-shadow: unset;
}
.AssetsAdministration .verticalTop th {
	vertical-align: top;
}
.AssetsAdministration .AssetsTable {
	position:relative
}
.AssetsAdministration .AssetsTable .tableHeader {
	{/*position:sticky;
	top:0*/}
}
.AssetsAdministration .AssetsTable .id,
.AssetsAdministration .AssetsTable .Name,
.AssetsAdministration .AssetsTable .Type,
.AssetsAdministration .AssetsTable .Shares,
.AssetsAdministration .AssetsTable .FreeShares,
.AssetsAdministration .AssetsTable .SharePrice,
.AssetsAdministration .AssetsTable .Actions {
	font-size: 15px;
}

.AssetsAdministration .AssetsTable td.id {
	max-width: 5ch;
}
.AssetsAdministration .AssetsTable td.Name {
	min-width: 15ch;
	max-width:20ch
}

.AssetsAdministration .AssetsTable td.Shares {
	max-width: 10ch;
}
.AssetsAdministration .AssetsTable td.FreeShares {
	max-width: 10ch;
}
.AssetsAdministration .AssetsTable td.SharePrice {
	max-width: 10ch;
}
.AssetsAdministration .AssetsTable td.Actions {
	max-width: 8ch;

}

.AssetsAdministration .AssetRow .iconContainer {
	cursor: pointer;
	transition: all 1s;
	color: black;
}
.AssetsAdministration .AssetRow .iconContainer .icon {
	transition: all 1s;
}
.AssetsAdministration .AssetRow .iconContainer:hover .icon {
	animation: ease hover 0.7s;
}
.AssetsAdministration .AssetRow .iconContainer.red:hover .icon{
	color: red;
}
.AssetsAdministration .AssetRow .iconContainer.blue:hover .icon {
	color: var(--blue-main);
}
.AssetsAdministration .AssetRow.addAsset {
	border:none
}
.AssetsAdministration .AssetRow.addAsset  td{
	border:none
}
.AssetsAdministration .AssetRow.addAsset  .Actions{
	border:1px solid;
	border-color: grey;
	background-color: rgba(0, 0, 0, 0.025);
}


.AssetsAdministration .AssetRow.addAsset .cellWithoudPadding {
	padding: 0;
	height: 0;
}
.AssetsAdministration .AssetRow .verticalCenter {
	vertical-align: middle;
}
.AssetsAdministration .AssetRow .cellWithoudPadding .form-control,
.AssetsAdministration .AssetRow .cellWithoudPadding .form-select {
	border: 0;
	border-radius: 0;
	background-color: rgb(255 255 255 / 70%);
}

@keyframes hover {
	0%,100% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
}
.deleteModal .hidden,.editModal .hidden {
	position: absolute;
	left: 0;
	right: 0;
	opacity: 0;
	transition: ease opacity 0.5s;
}
.deleteModal .show,.editModal .show {
	position: absolute;
	left: 0;
	right: 0;
	opacity: 1;
	transition: ease 0.5s opacity 0.5s;
}
.deleteModal .placeHolder,.editModal .placeHolder {
	opacity: 0;
}
.deleteModal .header,.editModal .header,
.deleteModal .body,.editModal .body,
.deleteModal .footer,.editModal .footer {
	background-color: white !important;
}
.deleteModal .body,.editModal .body {
	border-radius: 30px 30px 0 0;
}

.deleteModal .title,.editModal .title {
	color: black !important;
	text-align: center;
	font-weight: 300;

	font-size: 40px;
}
.AssetsAdministration .editResult,.AssetsAdministration .editForm,.AssetsAdministration .ViewDeleteAndCreateAssets{
	animation: ease growOpacity 1s;
}

.deleteModal .descriptionIconContainer,.editResult .descriptionIconContainer {
	font-size: 60px;
	width: 1.5em;
	height: 1.5em;
	border: 3px solid;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.deleteModal .descriptionIconContainer.red,.editResult .descriptionIconContainer.red{
	border-color: red;
}
.deleteModal .descriptionIconContainer.green,.editResult .descriptionIconContainer.green {
	border-color: green;
}

.deleteModal .icon,.editResult .icon {
	text-align: center;
	font-size: 60px;
}
.deleteModal .icon.red,.editResult .icon.red{
	color: red !important;
}
.deleteModal .icon.green,.editResult .icon.green {
	color: green !important;
}
.deleteModal .subTitle,.editResult .subTitle {
	color: black !important;
	font-weight: 500;
	text-align: center;
	font-size: 20px;
}
.deleteModal .heading,.editResult .heading {
	color: black !important;
	text-align: center;
	font-weight: 300;
	font-size: 15px;
}
.AssetsAdministration .editForm .header,
.AssetsAdministration .editResult .header{
	position: relative;
	font-size: 30px;
	padding: 0.5em 0;
	margin: 0.5em 0;
	border-bottom: 1px solid;
}
.AssetsAdministration .editForm .header .title,
.AssetsAdministration .editResult .header .title{
	font-size: 30px;
	font-weight: 300;
	padding: 0;
	margin:0
}
.AssetsAdministration .editForm .header .button,
.AssetsAdministration .editResult .header .button{
	font-size: 20px;
	position: absolute;
	bottom: 0;
	left:1ch;
	transform: translateY(50%);
	cursor: pointer;
	transition: 0.5s all;
}
.AssetsAdministration .editForm .header .button.icon,
.AssetsAdministration .editResult .header .button.icon{
	font-size: 20px;
	color: var(--blue-main);
	background-color: lightgrey;
	border-radius: 50%;
}
.AssetsAdministration .editForm .header .button.icon:hover,
.AssetsAdministration .editResult .header .button.icon:hover{
	animation: ease bounceLeft 0.5s 2;
}

@keyframes bounceLeft {
	0%,100%{
		transform: translateY(50%) translateX(0%);
	}
	50%{
		transform: translateY(50%) translateX(-25%);
	}
}
.AssetsAdministration .editForm .littleSpinner{
	width: 1em!important;
	height: 1em!important;
}
