.AccessAndPermissionsAdministration {
    .accordion-item {
        background: transparent;

        .accordion-button {
            padding-left: 0;
            background: transparent;
            transition: all 0.3s;
            border-bottom: 0 solid transparent;
            box-shadow: unset;

            &:not(.collapsed) {
                border-bottom: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color) !important;
            }

            &:focus {
                z-index: 3;
                border-color: transparent;
                outline: 0;
            }
        }
    }

    .accordion-body {
        padding: 0
    }
}

.usersList {
    .user {
        .title {
            margin-top: 0;
            font-size: 1.25rem;
            font-weight: 700;
        }

        .email {
            font-size: 14px;
            font-weight: 200;
        }

        .permission-category {
            font-size: 1rem;
            font-weight: 200;
            margin-top: 0;

            &.border-top {
                border-top: 1px solid var(--bs-accordion-border-color);
            }
        }
    }
}