.navBarInfo {
    background: rgb(241,241,241);
    transition: all 0.5s;
    max-height: 100px;
    overflow-y: hidden;
}
.navBarInfo .greeting{
    margin:0;
    color:black;
    font-weight: 400;
    font-size: 25px;
}
.navBarInfo .image{
    opacity:0.2;
}

.navBarInfo.toggled{
    max-height: 0;
    overflow-y: hidden;
}