.dropdown-item.active, .dropdown-item:active{
    background-color: gray;
}
.dropdown{
    float:left
}

.languageSelector .bg-none{
    background-color: transparent;
    border-color: transparent;
}
.btn-secondary{
    color:black;
    font-size:16px
}