.cardsContainer .FundCard {
	border: 1px transparent;
	border-radius: 30px;
	background-color: transparent;
}

.cardsContainer .FundCard .header {
	border-radius: 30px 30px 0px 0px;
	border: 1px solid;
	border-color: var(--main-card-color);
	font-size: 60px;
	background-color: var(--main-card-color);
}

.cardsContainer .FundCard .header .currencyContainer > .currency {
	font-size: 30px;
	border: transparent;
	background-color: var(--main-card-color);
	color: white;
	margin: 0;
	padding: 0;
	width: 30px;
}

.cardsContainer .FundCard .header .currencyContainer {
	font-size: 30px;
	border: white 1px solid;
	border-radius: 50%;
	height: 2.7em;
	width: 2.7em;
	margin: .3em 0em;
}

.cardsContainer .FundCard .body {
	border-left: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	border-color: var(--main-card-color);
	background-color: white;
}

.cardsContainer .FundCard .body .title {
	color: dimgray;
	text-align: start;
	font-size: 20px;
}

.cardsContainer .FundCard .body .subTitle {
	color: black;
	text-align: start;
	font-size: 17px;
}

.lighter {
	font-weight: lighter;
}

.cardsContainer .FundCard .body .balanceAmount {
	padding: 0;
	text-align: end;
	font-size: 20px;
	color: dimgray;
}

.cardsContainer .FundCard .body .balance {
	padding: 0;
	float: right;
	font-size: 17px;
}

.bolder {
	font-weight: bolder;
}

.lighter {
	font-weight: lighter;
}

.cardsContainer .FundCard .footer {
	background-color: transparent;
	border: none;
	border-radius: 0px 0px 30px 30px;
	border-color: var(--main-card-color);
}

.cardsContainer .FundCard .footer .button {
	font-size: 30px;
	background-color: white;
	border: 1px solid;
	border-color: var(--main-card-color);
	color: var(--main-card-color);
	width: 100%;
}

.cardsContainer .FundCard .footer .left {
	border-radius: 0px 0px 0px 30px;
}

.cardsContainer .FundCard .footer .right {
	border-radius: 0px 0px 30px 0px;
}

.modal .modal-content {
	background-color: transparent;
	border: transparent;
}

.modal .header,
.modal .body,
.modal .footer {
	background-color: var(--main-card-color);
	border-color: white;
}

.modal .header {
	border-radius: 30px 30px 0 0;
	border-color: white;
}

.modal .header .title {
	color: white;
}

.modal .body .help {
	color: white;
}

.modal .footer {
	border-radius: 0 0 30px 30px;
	border-color: white;
}

@media (max-width: 568px) {
	.fund-col:first-of-type {
		margin-top: 10%;
	}
	.fund-col {
		padding-left: 10%;
		padding-right: 10%;
		margin-bottom: 10%;
	}
}
