.navBarTotal{
    position: sticky;
    top: 45px;
    z-index: 1010;
    background-color: var(--main-card-color)!important;
}

.total{
    color:white;
    font-weight: bold;
    font-size: 20px;
    opacity: 0.87;
}