.navBarDesktop {
    background-color: var(--main-bg-nav-color);
    transition: all 0.5s;
}
.navBarDesktop .nav-link {
    padding: 0.5em;
}

.navBarDesktop .nav-link {
    border-bottom: 5px solid;
    border-color: transparent;
}

.navBarDesktop .nav-link:hover {
    border-color: lightgrey!important;
}

.navBarDesktop .nav-link.active {
    border-bottom: 5px solid;
    border-color: var(--selected-underline-section-color);
}

.navBarDesktop .nav-link.active:hover {
    border-color: var(--selected-underline-section-color)!important;
}

.navBarDesktop .bottomInnerBorder {
    box-shadow: inset 0px -13px 0px -8px var(--default-underline-section-color);
}

.navBarDesktop .transactionDropdown>.dropdown-toggle {
    padding-right: .5rem!important;
    padding-left: .5rem!important;
}
.navBarDesktop  {
    background-color: var(--main-bg-nav-color);
    transition:all 0.5s
}
.navBarDesktop  .logoNavInfoExpanded{
    opacity:1;
    transition:all 0.5s
}
.navBarDesktop  .logoNavInfoCollapsed{
    opacity:0;
    transition:all 0.5s
}
.navBarDesktop .navInfoToggler  {
    background-color: transparent;
    color:var(--main-color);;
    transition: all 0.5s;
    border:none
}
.navBarDesktop .navInfoToggler:focus{
    color: none!important;
    background-color: none!important;
    border-color: none!important;
    box-shadow: none!important;
}
.navBarDesktop .navInfoToggler.toggled  {
    background-color: transparent;
    color:var(--secondary-color);
    transform: rotate(180deg);
}
.navBarDesktop .left,.navBarDesktop .right{
    font-size: 1rem;
    display: block;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 5px solid;
    border-radius: 0;
    border-color: transparent;
}
.navBarDesktop .left{
    text-align: start;
    padding: .5em .5em .5em 1.5rem;

}.navBarDesktop .right{
    text-align: end;
    padding: .5em 1.5rem .5em .5em;

}

.navBarDesktop .left.active,.navBarDesktop .right.active{
    border-bottom: 5px solid;
    border-color: var(--selected-underline-section-color);
}
.navBarDesktop .dropdown-menu.show {
    margin-top:0!important
}
.navBarDesktop .dropdown-menu{
    border:0;
    min-width: 100%;
    border-radius:0 0 0.25rem 0.25rem;
    padding:0 
}
.navBarDesktop .dropdown-item:last-of-type{
    border-radius: 0 0 0.25rem 0.25rem;
}
.OverlayNavMobile {
	position: absolute;
	inset: -.5rem auto auto 0px!important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 40%;
    border: none;
}
.OverlayNavMobile .popover-arrow{
    display: none;
}
.OverlayNavMobile .popover-body{
    padding: 0;
}

@media (min-width: 992px) {
    .navBarDesktop .transactionDropdown>.dropdown-toggle {
        padding-right: 1.5rem!important;
        padding-left: 1.5rem!important;
    }
}

@media (min-width: 576px) {
    .navBarDesktop{
        position: sticky
    }
}