.setPassword {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.setPassword .form-control{
    border-radius: 30px;
}
.setPassword .validation .textRed{
    color: red;
}
.setPassword .validation .textGreen{
    color: green;
}
.setPassword .Card{
    margin-top: 10%;
	border-radius: 30px;
}
.setPassword .card-body{
    padding:1rem 1.25rem;
}
.setPassword h1{
    margin-top: 0;
    font-size: 35px;
}
.setPassword h2{
    font-size: 22px;

}
.setPassword h3{
    margin-top: 0;
    font-size: 17px;

}
.setPassword .btn{
    border-radius: 30px;
}
.setPassword .result .icon{
    font-size: 100px;
    text-align: center;
    color:green
}
.setPassword .result .label{
    font-size: 20px;
    text-align: center;
}