$color_1: white;
$color_2: black;
$color_3: var(--third-text-color);
$color_4: var(--secondary-text-color);
$background-color_1: var(--blue-main);
$background-color_2: var(--secondary-card-secondary);
$background-color_3: transparent;

.secondaryCard {
	cursor: pointer;
	border-radius: 2rem;
	transition: all 0.5s;
	box-shadow: 0px 0px 2px var(--blue-main);
	&:hover {
		box-shadow: 0px 0px 5px var(--blue-main);
	}
	>.currencyCol {
		background-color: $background-color_1;
		border-radius: 2rem 0px 0px 2rem;
	}
	>.secondary {
		border-left: rgb(180, 200, 180) 3px solid;
		background-color: $background-color_2;
		border-radius: 0px 2rem 2rem 0px;
		.description {
			text-transform: uppercase;
			font-weight: 400;
			font-size: 1.25rem;
			color: $color_2;
		}
		.funds {
			color: $color_3;
		}
		.funds-description {
			color: $color_4;
		}
	}
	.currencyContainer {
		font-size: 1.8rem;
		border: white 1px solid;
		border-radius: 50%;
		height: 2em;
		width: 2em;
		margin: 0.3em 0em;
		>.currency {
			font-size: 1.8rem;
			border: transparent;
			background-color: $background-color_3;
			color: $color_1;
			margin: 0;
			padding: 0;
			width: 2rem;
		}
	}
	.performance-component {
		strong {
			span {
				white-space: nowrap !important;
			}
		}
	}
}
.secondaryCard.selected {
	box-shadow: 0px 0px 5px var(--blue-main);
}
@media (max-width: 1440px) {
	.secondaryCard {
		.performance-component {
			font-size: 12px;
		}
	}
}
@media (max-width: 992px) {
	.secondaryCard {
		border-radius: 0;
		>.secondary {
			border-left: rgb(180, 200, 180) 0px solid;
			border-top: rgb(180, 200, 180) 1px solid;
			border-bottom: rgb(180, 200, 180) 1px solid;
			background-color: $background-color_2;
			border-radius: 0px;
		}
	}
}
