.fetchMessage .text{
    text-transform: capitalize;
}
.TicketsAdministration .verticalTop th {
	vertical-align: top;
}
.TicketsAdministration .TicketsTable {
	position:relative
}
.TicketsAdministration .TicketsTable .tableHeader {
	{/*position:sticky;
	top:0*/}
}
.TicketsAdministration .TicketsTable .id,
.TicketsAdministration .TicketsTable .Name,
.TicketsAdministration .TicketsTable .Type,
.TicketsAdministration .TicketsTable .Shares,
.TicketsAdministration .TicketsTable .FreeShares,
.TicketsAdministration .TicketsTable .SharePrice,
.TicketsAdministration .TicketsTable .Actions {
	font-size: 15px;
}

.TicketsAdministration .TicketsTable td.id {
	max-width: 5ch;
}
.TicketsAdministration .TicketsTable td.Name {
	min-width: 15ch;
	max-width:20ch
}

.TicketsAdministration .TicketsTable td.Shares {
	max-width: 10ch;
}
.TicketsAdministration .TicketsTable td.FreeShares {
	max-width: 10ch;
}
.TicketsAdministration .TicketsTable td.SharePrice {
	max-width: 10ch;
}
.TicketsAdministration .TicketsTable td.Actions {
	max-width: 8ch;

}

.TicketsAdministration .transactionRow .iconContainer {
	cursor: pointer;
	transition: all 1s;
	color: black;
}
.TicketsAdministration .transactionRow .iconContainer .icon {
	transition: all 1s;
}
.TicketsAdministration .transactionRow .iconContainer:hover .icon {
	animation: ease hover 0.7s;
}
.TicketsAdministration .transactionRow .iconContainer.red:hover .icon{
	color: red;
}
.TicketsAdministration .transactionRow .iconContainer.green:hover .icon {
	color: green;
}
.TicketsAdministration .transactionRow .verticalCenter {
	vertical-align: middle;
}
.TicketsAdministration .transactionRow .cellWithoudPadding .form-control,
.TicketsAdministration .transactionRow .cellWithoudPadding .form-select {
	border: 0;
	border-radius: 0;
	background-color: rgb(255 255 255 / 70%);
}

.TicketsAdministration .title{
	font-size: 20px;
	margin:0.5em 0;
}

.TicketsTable .seeMore .cellWithoudPadding {
	padding: 0;
	height: 0;
}

