* {
    
    /*General*/
    --main-color: rgb(43, 0, 0);
    --secondary-color:   rgb(150, 90, 0);
    /*Sections BG*/
    --main-dashboard-bg: rgb(238, 238, 238);
    /*Text*/
    --error:rgb(145, 85, 85);
    --red:rgb(201, 44, 45);
    --message:rgb(0,114,25);
    /*Nav Info*/
    --nav-info1:rgba(211,211,211,1);
    --nav-info2:rgba(0,0,0,1);

    /*Footer*/
    --footer-background:grey;
    /*NavBar*/
    --main-bg-nav-color: grey;
    --selected-underline-section-color: #b3b3b3;
    --default-underline-section-color: #383838;
    --text-nav-section-color: #E2E5EA;
    /*Nav Total*/
    --navBarTotal-bg:rgb(255, 84, 84);

    /*Founds cards colors*/
    --secondary-card-secondary: rgb(244, 246, 241);
    --main-card-color: rgb(158,26,27);
    /*Create Ticket Colors*/
    --ticket-main-color: rgb(235, 56, 56);
    --ticket-secondary-color:rgb(220, 157, 157);

    /*Table movs colors*/
    --table-border: rgba(78, 65, 30, 0.5);
    --th-color:rgba(201, 74, 74, 0.295);
    --tr-color:rgb(240, 148, 148);
}


/* width */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 5px;
}


/* Track */

::-webkit-scrollbar-track {
    background: transparent;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.capitalize{
    text-transform: capitalize;
}
.text-green {
    color: var(--main-color)
}

.text-red {
    color: red
}

.free-area {
    height: calc( 100vh - 209px);
    overflow-y: auto;
    overflow-x: hidden;
}

.min-free-area {
    min-height: calc( 100vh - 209px);
}
.min-free-area-total {
    min-height: calc( 100vh - 209px);
}
.mainColor {
    background-color: var(--main-color)
}

.secondaryColor {
    background-color: var(--secondary-color);
}

.p-relative{
    position: relative
}
.min-100vh{
    min-height: 100vh;
}