* {
    /*  
          nbankcolors
  --main-color: rgb(33, 91, 50);
  --secondary-color: var(--secondary-color);
  --error:rgb(145, 85, 85);
  --red:rgb(201, 44, 45);
  --message:rgb(0,114,25);
  --th-color:rgb(71, 179, 112);
  --tr-color:rgb(94, 216, 159);
  --table-border: rgba(3, 124, 78, 0.5);
  --nav-info-gradient1:rgb(0, 167, 75);
  --nav-info-gradient2:rgb(22, 117, 59);
  --nav-info-gradient3:rgb(33, 91, 50);
  */
    /*General*/
    --main-color: rgb(43, 0, 0);
    --secondary-color:   rgb(150, 90, 0);
    /*Sections BG*/
    --main-dashboard-bg: rgb(238, 238, 238);
    /*Text*/
    --error:rgb(145, 85, 85);
    --red:rgb(201, 44, 45);
    --message:rgb(0,114,25);
    /*Nav Info*/
    --nav-info:lightgrey;
    /*Footer*/
    --footer-background:grey;
    /*NavBar*/
    --main-bg-nav-color: grey;
    --selected-underline-section-color: #b3b3b3;
    --default-underline-section-color: #383838;
    --text-nav-section-color: #E2E5EA;
    /*Nav Total*/
    --navBarTotal-bg:rgb(255, 84, 84);

    /*Founds cards colors*/
    --secondary-card-secondary: rgb(244, 246, 241);
    --main-card-color: rgb(124, 124, 124);

    /*Create Ticket Colors*/
    --ticket-main-color: rgb(235, 56, 56);
    --ticket-secondary-color:rgb(220, 157, 157);

    /*Table movs colors*/
    --table-border: rgba(78, 65, 30, 0.5);
    --th-color:rgba(201, 74, 74, 0.295);
    --tr-color:rgb(240, 148, 148);
}


/* width */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 5px;
}


/* Track */

::-webkit-scrollbar-track {
    background: transparent;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.capitalize{
    text-transform: capitalize;
}
.text-green {
    color: var(--main-color)
}

.text-red {
    color: red
}

.free-area {
    height: calc( 100vh - 90px);
    overflow-y: auto;
    overflow-x: hidden;
}

.min-free-area {
    min-height: calc( 100vh - 90px);
}
.min-free-area-total {
    min-height: calc( 100vh - 200px);
}
.mainColor {
    background-color: var(--main-color)
}

.secondaryColor {
    background-color: var(--secondary-color);
}

.p-relative{
    position: relative
}