* {
    /*  
          nbankcolors
  --main-color: rgb(33, 91, 50);
  --secondary-color: var(--secondary-color);
  --error:rgb(145, 85, 85);
  --red:rgb(201, 44, 45);
  --message:rgb(0,114,25);
  --th-color:rgb(71, 179, 112);
  --tr-color:rgb(94, 216, 159);
  --table-border: rgba(3, 124, 78, 0.5);
  --nav-info-gradient1:rgb(0, 167, 75);
  --nav-info-gradient2:rgb(22, 117, 59);
  --nav-info-gradient3:rgb(33, 91, 50);
  */



  /*NavBar*/
    --main-bg-nav-color:#611010;
    --selected-underline-section-color:#611010;
    --default-underline-section-color:#ff3a3a;


    --main-color: rgb(158, 27, 27);
    --secondary-color:   rgb(150, 90, 0);
    --error:rgb(145, 85, 85);
    --red:rgb(201, 44, 45);
    --message:rgb(0,114,25);
    --th-color:rgba(201, 74, 74, 0.295);
    --tr-color:rgb(240, 148, 148);
    --table-border: rgba(78, 65, 30, 0.5);
    --nav-info-gradient1:rgb(255, 0, 0);
    --nav-info-gradient2:rgb(168, 20, 20);
    --nav-info-gradient3:rgb(110, 0, 0);
    --footer-background:#611010;

    --main-dashboard-bg: rgb(255, 183, 183);
    --secondary-card-secondary: rgb(244, 246, 241);
    --main-card-color: rgb(124, 124, 124);
    /*NavBar*/
    --main-bg-nav-color: #8a4949;
    --selected-underline-section-color: #b3b3b3;
    --default-underline-section-color: #383838;
    --text-nav-section-color: #E2E5EA;
    --ticket-main-color: rgb(235, 56, 56);
    --ticket-secondary-color: rgb(214, 222, 240);
}


/* width */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 5px;
}


/* Track */

::-webkit-scrollbar-track {
    background: transparent;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.text-green {
    color: var(--main-color)
}

.text-red {
    color: red
}

.free-area {
    height: calc( 100vh - 100px);
    overflow-y: auto;
    overflow-x: hidden;
}

.min-free-area {
    min-height: calc( 100vh - 100px);
}

.mainColor {
    background-color: var(--main-color)
}

.secondaryColor {
    background-color: var(--secondary-color);
}