.newTicket .foundCard{
    text-align: start;
}
.newTicket .foundCard .title{
    text-align: start;
    font-size: 22px;
    font-weight: 600;
}
.newTicket .foundCard .feePartsInfo{
    text-align: start;
}
.newTicket .foundCard .card-body > .card-title{
    font-weight: 400;
}

.newTicket .foundCard:hover {
    box-shadow: 0px 0px 5px var(--ticket-main-color);
}

.newTicket .foundSelected {
    box-shadow: 0px 0px 5px var(--ticket-main-color);
}