.navBarMobile{
    background-color: var(--footer-background);
    color:black;
    position: sticky;
    bottom: 0;
    z-index: 10;
}


.navBarMobile .rowNavBarMobile{
    overflow-x: auto;
}
.navBarMobile .rowNavBarMobile .section-label{
    font-size: 12px;
    cursor: pointer;
}

.navBarMobile .selected{
    color: rgba(0,0,0,0.7);
}


