.navBarMobile{
    background-color: var(--footer-background);
    color:black;
    position: sticky;
    bottom: 0;
    z-index: 10;
}

.navBarMobile .section.selected{
    color: var(--blue-main);
}

.navBarMobile .section{
    color: rgba(0,0,0,0.4);
    flex-shrink: 1;
}

.navBarMobile .rowNavBarMobile{
    overflow-x: auto;
}
.navBarMobile .section .section-label{
    text-align: center;
    font-size: 9px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.5s;
    padding: .2em;
    margin-top: .1em;
}



