.navBarDesktop {
  background-color: var(--main-bg-nav-color);
  transition: all 0.5s;
  filter: drop-shadow(0px 0px 3px grey);
}
.navBarDesktop.dropShadow {
  filter: drop-shadow(0px 0px 5px black);
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show > .nav-link {
  color: rgba(0, 0, 0, 0.7);
}
.navbar-dark .navbar-nav .nav-link {
  color: #000;
}
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(0, 0, 0, 0.9);
}
.navBarDesktop .text-black {
  color: black;
}
.navBarDesktop .text-black:hover {
  color: black;
}
.navBarDesktop .nav-link {
  padding: 0.5em;
}

.navBarDesktop .nav-link {
  border-bottom: 5px solid;
  border-color: transparent;
}

.navBarDesktop .nav-link:hover {
  border-color: lightgrey !important;
}

.navBarDesktop .nav-link.active {
  border-bottom: 5px solid;
  border-color: var(--selected-underline-section-color);
}

.navBarDesktop .transactionDropdown.show .nav-link {
  border-bottom: 5px solid;
  border-color: var(--selected-underline-section-color);
}

.navBarDesktop .nav-link.active:hover {
  border-color: var(--selected-underline-section-color) !important;
}

.navBarDesktop .bottomInnerBorder {
  box-shadow: inset 0px -13px 0px -8px var(--default-underline-section-color);
}

.navBarDesktop .transactionDropdown > .dropdown-toggle {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}
.navBarDesktop {
  background-color: var(--main-bg-nav-color);
  transition: all 0.5s;
}
.navBarDesktop .logoNavInfoExpanded {
  opacity: 1;
  transition: all 0.5s;
}
.navBarDesktop .logoNavInfoCollapsed {
  opacity: 0;
  transition: all 0.5s;
}
.navBarDesktop .navInfoToggler {
  background-color: transparent;
  color: var(--main-color);
  transition: all 0.5s;
  border: none;
}
.navBarDesktop .navInfoToggler:focus {
  color: none !important;
  background-color: none !important;
  border-color: none !important;
  box-shadow: none !important;
}
.navBarDesktop .navInfoToggler.toggled {
  background-color: transparent;
  color: var(--blue-main);
  transform: rotate(180deg);
}
.navBarDesktop .dropdownButton {
  font-size: 1rem;
  display: block;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 5px solid;
  border-radius: 0;
  border-color: transparent;
}

.navBarDesktop .dropdownButton {
  color: black;
  text-align: center;
  padding: 0.5em;
}

z.navBarDesktop .dropdownButton.active {
  border-bottom: 5px solid;
  border-color: var(--selected-underline-section-color);
  color: rgba(0, 0, 0, 0.7);
}
.navBarDesktop .dropdown-menu.show {
  margin-top: 0 !important;
}
.navBarDesktop .dropdown-menu {
  border: 0;
  min-width: 100%;
  border-radius: 0 0 0.25rem 0.25rem;
  padding: 0;
}
.navBarDesktop .dropdown-item:last-of-type {
  border-radius: 0 0 0.25rem 0.25rem;
}
.OverlayNavMobile {
  position: absolute;
  inset: -0.5rem auto auto 0px !important;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 40%;
  border: none;
}
.OverlayNavMobile .popover-arrow {
  display: none;
}
.OverlayNavMobile .popover-body {
  padding: 0;
}

.navBarDesktop .mobile-dropdown::after {
  content: "";
  background-image: url("data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23082044%27><path fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/></svg>");
  border: none !important;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: 10px;
}

@media (min-width: 992px) {
  .navBarDesktop .transactionDropdown > .dropdown-toggle {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
  }
}

@media (min-width: 576px) {
  .navBarDesktop {
    position: sticky;
  }
}

@media (max-width: 576px) {
  .navBarDesktop .nav-link:hover {
    background-color: transparent;
  }
}
