.helpModal2 {
    color: black;

    .modal-dialog {
        .preview-file {

            &>* {
                border-radius: 4px;
                @media (max-width: 576px) {
                    border-radius: 4px 4px 0 0;
                }
                width: 100% !important;
            }
        }

        .loadingPDF {
            @media (max-width: 576px) {
                height: 60vh !important;
            }
        }

        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 1.75rem;
        padding-top: 1.75rem;

        .modal-content {
            background: transparent;
            border: none;

            .modal-body {

                padding: 0;
                margin: 0 var(--bs-modal-padding);
                background-color: white;
                border-radius: 4px;

                .react-pdf__message--loading,
                .react-pdf__message--error,
                .react-pdf__Document {
                    height: 100%;
                }

                .react-pdf__Page__canvas {
                    border-radius: 4px;
                }

            }

            .modal-header {
                border-radius: 30px 30px 0 0;
                border-color: transparent;
                background-color: var(--card-modal-header-footer);

                .btn-close {
                    background: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23fff%27%3e%3cpath d=%27M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z%27/%3e%3c/svg%3e") center/1em auto no-repeat
                }

                .title {
                    color: white
                }
            }

            .page-controls {
                position: relative;
                text-align: center;
                @media (min-width: 576px) {
                    bottom: 5%;
                }
                left: 50%;
                background: white;
                transform: translateX(-50%);
                transition: opacity ease-in-out 0.2s;
                box-shadow: 0 30px 40px 0 rgb(16 36 94 / 20%);
                border-radius: 4px;

                @media (min-width: 576px) {
                    position: absolute;
                }

                button {
                    width: 38px;
                    height: 44px;
                    background: white;
                    border: 0;
                    font: inherit;
                    font-size: 0.8em;
                    border-radius: 4px;

                    &:hover {
                        background-color: #e6e6e6;
                    }

                }

                span {
                    padding: 0 0.5em;
                }
            }
        }
    }
}