.usersList {
    .user {
        .title {
            margin-top: 0;
            font-size: 1.25rem;
            font-weight: 700;
        }
        .email {
            font-size: 14px;
            font-weight: 200;
        }
    }
}